<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>index</title>
	<link href="css/public.css" rel="stylesheet" type="text/css" />	
	<script language="JavaScript" src="js/Indx.js"></script>
	</head>
	<body>
		<!--登陆-->
		<div class="index-mid" >
		   <div class="index-lander">
		   <!--logo-->
            <div class="index-logo"><img src="img/logo.png"/></div>			
		    	<h3> 源瑞科技内务系统</h3>
			<form  action="" method="post">
				<div class="icon"><img src="img/mine_fill.png" width="34px" height="38px" style="display: block;float: left;"><input type="text"  placeholder="请输入账号名"/></div>
				<div class="icon-pwd"><img src="img/pwd.png" width="34px" height="38px"style="display: block;float: left;"><input type="password" placeholder="请输入密码" id="pwd"/><br /></div>
				<input type="submit" value="登陆" name="" id="sub"/>
			</form>
			<p>仅供源瑞科技有限公司内部使用</p>
		   </div>
		</div>
		
		<!-- 尾页部分
		<div class="footer">
			<div class="footer-info">
			Copyright  2008-2013版权所有 广州源瑞信息科技有限公司   | 备案号：粤ICP备11029455<br />
			地址:  广州市天河区燕玲路89号燕侨大厦1210房<br />
			业务联系:  020-22941994  020-38090081  | 传真 :020-87647780<br />
			</div>
		</div>-->
	</body>
</html>
