<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>inqurie</title>
	</head>
	<style>
		.met{
			
		}
	</style>
	<body>
		<div class="mid">
      <table border="1" class="met">
      	<tr>
                <th class="table-id">故障编码</th>
                <th class="table-title">故障类型</th>
                <th class="table-type">所属线路</th>
                <th class="table-author">所属站点</th>
                <th class="table-date">故障时间</th>
                <th class="table-set">处理结果</th>
       	</tr>
       	<tr>
       		<td>1</td>
       		<td>2</td>
       		<td>3</td>
       		<td>4</td>
       		<td>5</td>
       		<td>6</td>
       	</tr>
      </table>
	</div>
	</body>
</html>
