{%extends "base.html" %}

{%block title %} 故障查询系统 {% endblock %}

{%block content %}
<div class="mid">
    {% csrf_token %}
  <table border="1" class="met">
      <tr>
            <th class="table-id">报障编码</th>
            <th class="table-title">处理结果</th>
            <th class="table-type">故障级别</th>
            <th class="table-author">故障类型</th>
            <th class="table-date">所属线路</th>
            <th class="table-set">所属站点</th>
            <th class="table-id">车厢编号</th>
            <th class="table-title">位置</th>
            <th class="table-type">故障数量</th>
            <th class="table-author">录入员</th>
            <th class="table-date">处理人</th>
            <th class="table-date">报修时间</th>
            <th class="table-set">处理结果</th>
       </tr>
       {% for loglist in login_list %}
       <tr>
           <td>{{ loglist.LoginNo }}</td>
           <td>{{ loglist.Result}}</td>
           <td>{{ loglist.BreakdownLevel}}</td>
           <td>{{ loglist.BreakdownType}}</td>
           <td>{{ loglist.Line}}</td>
           <td>{{ loglist.Site}}</td>
           <td>{{ loglist.Coach}}</td>
           <td>{{ loglist.Position}}</td>
           <td>{{ loglist.BreakdownCount}}</td>
           <td>{{ loglist.Keyboard}}</td>
           <td>{{ loglist.Processor}}</td>
           <td>{{ loglist.BreakdownDate}}</td>
           <td>{{ loglist.LoginRemark}}</td>
           <td>
               <a href='{{loglist.LoginNo}}'>修改</a>
           </td>
       </tr>
       {%  endfor   %}
  </table>
  {% endblock %}
</div>