{% extends "base.html" %}

{% block title %}
登录
{% endblock  %}

{% block content %}
		<h1>登录</h1>
		{% if form.errors %}
		<p>用户名和密码不匹配，请再次输入</p>
		{% endif %}
		
		{% if next %}
			{% if user.is_authenticated %}
			<p>你的账号不能访问这个页面</p>
			{% else %}
			<p>请登录才进入这个页面</p>
			{% endif %}
		{% endif %}
		
		<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
		<table>
		<tr>
			<td>用户名</td>
			<td>{{ form.username }}</td>
		</tr>
		<tr>
			<td>密码</td>
			<td>{{ form.password }}</td>
		</tr>
		</table>
		
		<input type="submit" value="登录" />
		<p>如果你没有账号 点击 <a href="{% url "register" %}">注册账号 </a></p>
		<input type="hidden" name="next" value="{{ next }}" />
		</form>
		
{% endblock  %}			
		
		<p>仅供源瑞科技有限公司内部使用</p>
		</div>


		
		<!-- 尾页部分  			<div class="icon"><img src="img/mine_fill.png" width="34px" height="38px" style="display: block;float: left;"><input type="text"  placeholder="请输入账号名"/></div>
				<div class="icon-pwd"><img src="img/pwd.png" width="34px" height="38px"style="display: block;float: left;"><input type="password" placeholder="请输入密码" id="pwd"/><br /></div>
		<div class="footer">
			<div class="footer-info">
			Copyright  2008-2013版权所有 广州源瑞信息科技有限公司   | 备案号：粤ICP备11029455<br />
			地址:  广州市天河区燕玲路89号燕侨大厦1210房<br />
			业务联系:  020-22941994  020-38090081  | 传真 :020-87647780<br />
			</div>
		</div>-->
	</body>
</html>
